:root {
  --base-color: #f472b6;
  --template-bg: #ffffff;
  --template-color: #1e3a8a;
  --white: #ffffff;
  --black: #000000;
  --primary-color: #3b82f6;
  --secondary-color: #1e40af;
  --tertiary-color: #2563eb;
  --quaternary-color: #1d4ed8;
  --quinary-color: #061408;
  --septenary-color: #1e293b;
  --senary-color: #f3f4f6;
  --hover-color: #2563eb;
  --transition: all 0.5s ease;
  --shadow: 0px 10px 25px 0px rgba(37, 99, 235, 0.08);
  --shadow-secondary: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  --shadow-tertiary: 0px 4px 8px 0px rgba(0, 0, 0, 0.07);
  --primary-six: #479F10;
  --primary-six-title: #0B3D19;
  --primary-six-light: #0B3D19;
}

.base-img {
  -webkit-filter: brightness(0) saturate(100%) invert(82%) sepia(31%) saturate(1312%) hue-rotate(323deg) brightness(103%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(82%) sepia(31%) saturate(1312%) hue-rotate(323deg) brightness(103%) contrast(101%);
}

.bottom-line {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='196' height='15' viewBox='0 0 196 15' fill='none'%3E %3Cpath d='M1 13C42.1844 2.92057 142.978 -3.87406 195 9.2668' stroke='%23ffb347' stroke-width='4'/%3E %3C/svg%3E");
}